<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= Setting.app_name %></title>
  <% if @mobile_device %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
    <meta name="HandheldFriendly" content="true" />
    <%= stylesheet_link_tag "html", "mobile", :cache => "cached_mobile" %>
  <% else %>
    <%= stylesheet_link_tag "html", "desktop", :cache => "cached_desktop" %>
  <% end %>
	<%= yield :styles %>
</head>
<body>
  <%= javascript_include_tag("jquery", :cache => "cached_jquery") %>
  <%= yield :scripts %>
	<div id="container">
		<div id="top">
			<b class="app_name"><a href="/"><%= Setting.app_name %></a></b>
			<% if Setting.beta %>
				<span class="beta">beta</span>
			<% end %>
			<div id="userbar">
				<% if @current_user %>
					Hello <%= h @current_user.name %>, <%= link_to 'New post', new_post_path %> | <a href="<%= edit_account_path %>">Account</a> | <a href="<%= destroy_user_session_path %>">Logout</a>
				<% else %>
					<a href="<%= new_user_session_path %>">Login</a> | <a href="<%= new_account_path %>">Register</a>
				<% end %>
			</div>
		</div>
		<div id="main">
			<%= yield %>
		</div>
		<div id="foot">
			<%= Setting.foot_html %>
		</div>
	</div>
</body>
</html>
